<div class="card">
        <h2>Minha Carga de Palete</h2>
        <p>Calcula e otimiza cargas de paletes. Insira os valores da sua embalagem e palete e pressione o botão
                “Calcular”.</p>
        <div class="package">
                <div class="package-info">
                        <h3>Dados do Pacote</h3>
                        <button>mm</button>
                </div>
                <div class="package-data">
                        <input type="number" placeholder="Largura">
                        <input type="number" placeholder="Comprimento">
                        <input type="number" placeholder="Altura">
                </div>
                <p>Largura x Comprimento x Altura</p>
                <div class="package-kg">
                        <p>Peso da embalagem em kg/lbs:</p>
                        <input type="number" placeholder="Peso">
                </div>
        </div>

        <div class="pallet">
                <div class="pallet-info">
                        <h3>Dados do Palete</h3>
                </div>
                <div class="pallet-size">
                        <p>Palete:</p>
                        <select>
                                <option value="0">Palete 1200 x 800</option>
                                <option value="1">Industrial 1200 x 1000</option>
                                <option value="2">40 x 48° Palete</option>
                                <option value="3">Meio Palete 800 x 600</option>
                        </select>
                </div>
                <div class="pallet-height">
                        <p>Altura Carregamento:</p>
                        <input type="number" placeholder="Altura Carregamento">
                </div>
        </div>
        <div class="btn-content">
                <button>Calcular</button>
        </div>
</div>